.form {
  width: 92%;

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding:0 4rem;
  }

  &__button {
    position: relative;
    border: 2px solid $yellow;
    background: none;
    color: $yellow;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    padding: 1.5rem 4rem;
    filter: drop-shadow(0 2px 2px black);
    cursor: pointer;
    transition:
      color 100ms ease-in,
      border-color 100ms ease-in;

    &:hover {
      filter: drop-shadow(0 0 0 black);
      color: $navy;
      border-color: $navy;
    }
  }

  &__link {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    color: $yellow;
    text-decoration: underline;
    transition:
      color 100ms ease-in;

    &:hover {
      color: $navy;
    }

    &--cancel {
      margin-right: 3rem;
    }
  }
}