.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: $blue;
  box-shadow: 0 0 2px 0 $blue;
}
