@import './modules/colors';
@import './modules/fonts';
@import './modules/animations';

@import './App.scss';

@import './componenets/Side/Side';
@import './componenets/Logo/Logo';
@import './componenets/Form/Form';
@import './componenets/Input/Input';
@import './componenets/Footer/Footer';
@import './componenets/Loader/Loader';

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background: linear-gradient(90deg, $navy, $yellow);
  min-height: 64rem;
  margin: 0;
  padding: 0;
  box-shadow: inset 0 1px 1px 0 $blue;
}
